<div class="pending-cars-wrapper">
  <p-table [value]="PendingCars" selectionMode="single" [paginator]="true" [rows]="10" [(selection)]="selectedCar"
    dataKey="code" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Process type</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr [pSelectableRow]="car">
        <td>{{car.code}}</td>
        <td>{{car?.processType?.name}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
