<div class="landing-wrapper">
  <div class="header">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="" />
    </div>
    <div class="help-sign">
      <p class="help">Help center</p>
      <div class="sign-in">Sign in</div>
    </div>
  </div>
  <div class="main-image">
    <div class="info">
      <p class="naming">Your Car Journey Elevated</p>
      <p class="text">Where Buying and Selling Meet Convenience and Trust</p>
    </div>
    <img
      src="https://willbuyblobstorage.blob.core.windows.net/willbuycontainer/db56f2d5-de5c-49bc-8fb2-8b29c2c30823-61c928f27d93062c8833ab5486d6f203%20%281%29.jfif"
      alt=""
    />
  </div>
  <div class="tranding-auctions">
    <div class="heading">
      <h3>Trending auctions</h3>
      <p>See all</p>
    </div>

    <div class="list">
      <div class="item">
        <img
          src="https://s3-alpha-sig.figma.com/img/2c6c/b3b5/e65fa90bfcab5a1143ce2a501453520c?Expires=1692576000&Signature=T6f0qvu2sTfNKnyd6CLnZoklVeea12m6Wm8zybB07Usu0PxbxnpcputzBPBfK9-A18fP~zDAUnGrDtp4NvR6fRLG17ElWWJGCibSpnpRzG0q3zhBHj40xgNWELmJ2uaI6XybHAWZPgTw~v9zW4DuMfLbzK8v6KPlWxJMtYDnvoJPuiLO7y0ozxgeOjt2FMqlbFcxNGrbutVTghBqnY-OmwaTJbmv1oEVaK7rpV~2Gfo55e3O3scXDfFg5eKfEZPHbj4bftWeQMeXPt8ScqZENINluAaUzt74NVnPfZBuGKHGpv2rbaP85bCxGZhH3kwFrkhhEyXhlIh6c8dz4v~K2A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt=""
        />
        <div class="info">
          <p class="car-name">2010 BMW X3 Sport Package</p>
          <p class="transmission">Automatic - GAS</p>
          <p class="position">QC MONTREAL</p>
        </div>
        <button>
          Learn more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="8"
            viewBox="0 0 28 8"
            fill="none"
          >
            <path
              d="M27.3536 4.35355C27.5488 4.15829 27.5488 3.84171 27.3536 3.64645L24.1716 0.464466C23.9763 0.269204 23.6597 0.269204 23.4645 0.464466C23.2692 0.659728 23.2692 0.976311 23.4645 1.17157L26.2929 4L23.4645 6.82843C23.2692 7.02369 23.2692 7.34027 23.4645 7.53553C23.6597 7.7308 23.9763 7.7308 24.1716 7.53553L27.3536 4.35355ZM0 4.5H27V3.5H0V4.5Z"
              fill="black"
            />
          </svg>
        </button>
      </div>
      <div class="item">
        <img
          src="https://s3-alpha-sig.figma.com/img/2c6c/b3b5/e65fa90bfcab5a1143ce2a501453520c?Expires=1692576000&Signature=T6f0qvu2sTfNKnyd6CLnZoklVeea12m6Wm8zybB07Usu0PxbxnpcputzBPBfK9-A18fP~zDAUnGrDtp4NvR6fRLG17ElWWJGCibSpnpRzG0q3zhBHj40xgNWELmJ2uaI6XybHAWZPgTw~v9zW4DuMfLbzK8v6KPlWxJMtYDnvoJPuiLO7y0ozxgeOjt2FMqlbFcxNGrbutVTghBqnY-OmwaTJbmv1oEVaK7rpV~2Gfo55e3O3scXDfFg5eKfEZPHbj4bftWeQMeXPt8ScqZENINluAaUzt74NVnPfZBuGKHGpv2rbaP85bCxGZhH3kwFrkhhEyXhlIh6c8dz4v~K2A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt=""
        />
        <div class="info">
          <p class="car-name">2010 BMW X3 Sport Package</p>
          <p class="transmission">Automatic - GAS</p>
          <p class="position">QC MONTREAL</p>
        </div>
        <button>
          Learn more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="8"
            viewBox="0 0 28 8"
            fill="none"
          >
            <path
              d="M27.3536 4.35355C27.5488 4.15829 27.5488 3.84171 27.3536 3.64645L24.1716 0.464466C23.9763 0.269204 23.6597 0.269204 23.4645 0.464466C23.2692 0.659728 23.2692 0.976311 23.4645 1.17157L26.2929 4L23.4645 6.82843C23.2692 7.02369 23.2692 7.34027 23.4645 7.53553C23.6597 7.7308 23.9763 7.7308 24.1716 7.53553L27.3536 4.35355ZM0 4.5H27V3.5H0V4.5Z"
              fill="black"
            />
          </svg>
        </button>
      </div>
      <div class="item">
        <img
          src="https://s3-alpha-sig.figma.com/img/2c6c/b3b5/e65fa90bfcab5a1143ce2a501453520c?Expires=1692576000&Signature=T6f0qvu2sTfNKnyd6CLnZoklVeea12m6Wm8zybB07Usu0PxbxnpcputzBPBfK9-A18fP~zDAUnGrDtp4NvR6fRLG17ElWWJGCibSpnpRzG0q3zhBHj40xgNWELmJ2uaI6XybHAWZPgTw~v9zW4DuMfLbzK8v6KPlWxJMtYDnvoJPuiLO7y0ozxgeOjt2FMqlbFcxNGrbutVTghBqnY-OmwaTJbmv1oEVaK7rpV~2Gfo55e3O3scXDfFg5eKfEZPHbj4bftWeQMeXPt8ScqZENINluAaUzt74NVnPfZBuGKHGpv2rbaP85bCxGZhH3kwFrkhhEyXhlIh6c8dz4v~K2A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt=""
        />
        <div class="info">
          <p class="car-name">2010 BMW X3 Sport Package</p>
          <p class="transmission">Automatic - GAS</p>
          <p class="position">QC MONTREAL</p>
        </div>
        <button>
          Learn more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="8"
            viewBox="0 0 28 8"
            fill="none"
          >
            <path
              d="M27.3536 4.35355C27.5488 4.15829 27.5488 3.84171 27.3536 3.64645L24.1716 0.464466C23.9763 0.269204 23.6597 0.269204 23.4645 0.464466C23.2692 0.659728 23.2692 0.976311 23.4645 1.17157L26.2929 4L23.4645 6.82843C23.2692 7.02369 23.2692 7.34027 23.4645 7.53553C23.6597 7.7308 23.9763 7.7308 24.1716 7.53553L27.3536 4.35355ZM0 4.5H27V3.5H0V4.5Z"
              fill="black"
            />
          </svg>
        </button>
      </div>
      <div class="item">
        <img
          src="https://s3-alpha-sig.figma.com/img/2c6c/b3b5/e65fa90bfcab5a1143ce2a501453520c?Expires=1692576000&Signature=T6f0qvu2sTfNKnyd6CLnZoklVeea12m6Wm8zybB07Usu0PxbxnpcputzBPBfK9-A18fP~zDAUnGrDtp4NvR6fRLG17ElWWJGCibSpnpRzG0q3zhBHj40xgNWELmJ2uaI6XybHAWZPgTw~v9zW4DuMfLbzK8v6KPlWxJMtYDnvoJPuiLO7y0ozxgeOjt2FMqlbFcxNGrbutVTghBqnY-OmwaTJbmv1oEVaK7rpV~2Gfo55e3O3scXDfFg5eKfEZPHbj4bftWeQMeXPt8ScqZENINluAaUzt74NVnPfZBuGKHGpv2rbaP85bCxGZhH3kwFrkhhEyXhlIh6c8dz4v~K2A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt=""
        />
        <div class="info">
          <p class="car-name">2010 BMW X3 Sport Package</p>
          <p class="transmission">Automatic - GAS</p>
          <p class="position">QC MONTREAL</p>
        </div>
        <button>
          Learn more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="8"
            viewBox="0 0 28 8"
            fill="none"
          >
            <path
              d="M27.3536 4.35355C27.5488 4.15829 27.5488 3.84171 27.3536 3.64645L24.1716 0.464466C23.9763 0.269204 23.6597 0.269204 23.4645 0.464466C23.2692 0.659728 23.2692 0.976311 23.4645 1.17157L26.2929 4L23.4645 6.82843C23.2692 7.02369 23.2692 7.34027 23.4645 7.53553C23.6597 7.7308 23.9763 7.7308 24.1716 7.53553L27.3536 4.35355ZM0 4.5H27V3.5H0V4.5Z"
              fill="black"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
