@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&family=Poppins:wght@400;500;700&display=swap");

.landing-wrapper {
  padding-bottom: 61px;
  .header {
    height: 87px;
    padding: 22px 109px 22px 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        width: 259px;
      }
    }
    .help-sign {
      display: flex;
      .help {
        color: #464953;
        text-align: right;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        height: 28px;
        padding: 0 12px;
        border-right: 1px solid #c9c9c9;
        cursor: pointer;
      }
      .sign-in {
        color: #0077b6;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        padding: 0 12px;
        cursor: pointer;
      }
    }
  }
  .main-image {
    height: 611px;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .info {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-left: 165px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .naming {
        color: #fff;
        font-family: Inria Serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 56.5px;
      }
      .text {
        color: #fff;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 56.5px;
      }
    }
  }
  .tranding-auctions {
    padding: 79px 69px;
    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 33px;
      h3 {
        color: #464953;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
      p {
        color: #0077b6;
        text-align: right;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        cursor: pointer;
      }
    }
    .list {
      display: flex;
      gap: 27px;
      .item {
        width: calc((100% - 72px) / 4);
        min-height: 407px;
        padding: 22px 17.5px 33px 17.5px;
        border-radius: 12px;
        background: #fff;
        box-shadow: 0px 8px 25px -11px rgba(0, 0, 0, 0.25);
        img {
          max-width: 100%;
          width: 100%;
          border-radius: 8px;
          height: 203px;
          object-fit: cover;
        }
        .info {
          .car-name {
            color: #464953;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            margin: 16px 0 8px 0;
          }
          .transmission {
            color: rgba(6, 54, 79, 0.6);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
          .position {
            color: rgba(6, 54, 79, 0.6);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
        button {
          height: 48px;
          border-radius: 6px;
          border: 1px solid #0077b6;
          background: #fff;
          color: #333;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 24px;
          width: 100%;
          margin-top: 8px;
        }
      }
    }
  }
  .benefits-sellers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .backgrounds{
      width: 100%;
      position: absolute;
      height: 428px;
      .white{
        width: 100%;
        display: block;
        height: 50%;
      }
      .colored{
        width: 100%;
        height: 50%;
        background: #E6F2F8;
      }
    }
    .text{
      width: 344px;
      display:flex;
      align-items: center;
      z-index: 1;
      p{
        color: #333;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 32.5px;
      }
    }
    .items{
      padding: 0 68px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      z-index: 1;
      .item{
        display: flex;
        align-items: center;
        gap: 31px;
        .icon{
          display: flex;
          width: 70px;
          height: 70px;
          padding: 10px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 70px;
          background: rgba(0, 119, 182, 0.10);
        }
        .name{
          width: 318px;
          p{
            color: #0077B6;
            font-family: Inria Serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
          }
        }
      }
    }
  }
  .learn-more{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    .text{
      position: absolute;
      display: flex;
      align-items: center;
      gap: 45px;
      color: #FFF;
      font-family: Inria Serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
    }
    img{
      width: 100%;
    }
  }
}
.image-block{
  position: relative;
  p{
    position: absolute;
    z-index: 1;
    color: #000;
    font-family: Inria Serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    gap: 72px;
    left: -121px;
    top: 30px;
    span{
      color: #FFF;
      font-family: Inria Serif;
      font-size: 48px;
      font-style: italic;
      font-weight: 700;
      line-height: 24px;
    }
  }
}
.image {
  display: flex;
  justify-content: flex-end;
  width: 554px;
  height: 428px;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.buyers{
  margin-top: 60px;
  .image-block{
    z-index: 1;
    p{
      right: -150px;
      left:auto;
    }
    .image{
      clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    }
  }
}
.additional-services{
  .heading{
    h3{
      color: #333;
      font-family: Inria Serif;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 56.5px;
      margin-top: 67px;
      margin-bottom: 64px;
      text-align: center;
    }
  }
  .items{
    display: flex;
    justify-content: space-around;
    .item{
      max-width: 310px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      .icon{
        width: 90px;
        height: 90px;
        border-radius: 100%;
        background: rgba(204, 228, 240, 0.50);
        display: flex;
        justify-content: center;
        align-items: center;
        .border{
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          width: 70px;
          height: 70px;
          border-radius: 100%;
        }
      }
      .item-name{
        p{
          color: #333;
          text-align: center;
          font-family: Inria Serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px;
        }
      }
      .item-text{
        color: rgba(51, 51, 51, 0.50);
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 32.5px;
      }
    }
  }

}
.contact{
  padding: 53px 150px;
  .heading{
    h3{
      color: #000;
      font-family: Inria Serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
  }
  .icon{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
    .item{
      display:flex;
      gap: 8px;
    }
  }
}
.footer{
  display: flex;
  gap: 35px;
  padding: 50px 150px 0 150px;
  align-items: center;
  .logo{
    width: 193px;
  }
  .rights{
    p{
      color: #333;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 19px;
    }
  }
}
