<div class="notification-detail">
  <div class="saleDetail">
    <img [src]="saleDetail.car.preview" alt="" />
    <div class="info">
      <div class="name-info">
        <div class="name">
          <h3>
            {{
            saleDetail.car.year + " " + saleDetail.car.make + " " + saleDetail.car.model
            }}
          </h3>
        </div>
        <div class="small-info">
          <p>{{ saleDetail.car.odometer }}</p>
          <p>{{ saleDetail.car.color }}</p>
          <p>{{ saleDetail.car.engineType }}</p>
          <p>{{ saleDetail.car.fuel }}</p>
        </div>
      </div>
      <div class="auctionType">
        <p>Auction type: <span>{{ saleDetail.car.auctionName }}</span></p>
      </div>
      <div class="prices">
        <div class="saleDetails">
          <div class="price-saleDetail">
            <h4 class="head">
              $
              {{
              saleDetail.saleOption === 1
                ? saleDetail.directSaleOption.price
                : saleDetail.tradingSaleOption.minimalPrice
              }}
            </h4>
            <p>{{ saleDetail.saleOption === 1 ? "Price" : "Minimal price" }}</p>
          </div>
          <div class="price-saleDetail" *ngIf="saleDetail.saleOption !== 1">
            <h4 class="head">
              $ {{ saleDetail.tradingSaleOption.desiredPrice }}
            </h4>
            <p>Desired price</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
