<div class="login-wrapper">
  <div class="main-block">
    <app-auth-left-side [type]="0" (routeTo)="routeTo()"></app-auth-left-side>
    <div class="right-side">
      <div class="form-block">
        <div class="logo">
          <img src="assets/images/key.svg" alt="">
        </div>
        <div class="heading">
          <h3>Lost your password?</h3>
          <p>Enter new password and code to recover</p>
        </div>
        <div class="form">
          <form>
            <input type="text" maxlength="1" [(ngModel)]="input1" name="first" class="input"
              [ngClass]="{'filled': input1}" />
            <input type="text" maxlength="1" [(ngModel)]="input2" name="second" class="input"
              [ngClass]="{'filled': input2}" />
            <input type="text" maxlength="1" [(ngModel)]="input3" name="third" class="input"
              [ngClass]="{'filled': input3}" />
            <input type="text" maxlength="1" [(ngModel)]="input4" name="fourth" class="input"
              [ngClass]="{'filled': input4}" />
            <input type="text" maxlength="1" [(ngModel)]="input5" name="fifth" class="input"
              [ngClass]="{'filled': input5}" />
          </form>
          <div class="passwords">
            <div class="input" [ngClass]="{'notValid':!RecoverRequestDTO.password.isValid}">
              <div class="left">
                <label for="password">Password</label>
                <input type="password" id="password" [(ngModel)]="RecoverRequestDTO.password.value">
              </div>
              <div class="right">
                <img src="assets/images/password.svg" alt="">
              </div>
            </div>
            <div class="input" [ngClass]="{'notValid':!RecoverRequestDTO.confirmPassword.isValid}">
              <div class="left">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" [(ngModel)]="RecoverRequestDTO.confirmPassword.value">
              </div>
              <div class="right">
                <img src="assets/images/password.svg" alt="">
              </div>
            </div>
          </div>
        </div>

        <button (click)="Submit()" [disabled]="disabledButton">Change</button>
      </div>
    </div>
  </div>
</div>
