
<div class="vehicle-invoice-wrapper" [@pageAnimation]="animate ? 'page' : ''">
  <div class="header">
    <h3>Upload your vehicles invoice</h3>
  </div>
  <div class="lookup-body">
    <div class="file-input">
      <label for="file">
        <img src="assets/images/upload.svg" alt="">
        Upload
      </label>
      <input id="file" type="file" [(ngModel)]="file" (change)="getFile($event)" multiple="false" accept="application/pdf">
    </div>
    <div class="file-preview"  [@slideInOut]="Form.carDocument ? 'in' : 'out'" *ngIf="Form.carDocument">
      <div class="format-name">
        <div class="format">
          <p>{{Form.carDocument.extension}}</p>
        </div>
        <div class="name">
          <p>{{Form.carDocument.fileName}}</p>
        </div>
      </div>
      <div class="deleteFile">
        <i class="pi pi-times" (click)="deleteSelectedFile()"></i>
      </div>
    </div>
    <div class="btns">
      <button class="back" [disabled]="false" (click)="PreviousStep()">Back</button>
      <button class="next" [disabled]="disableNext" (click)="NextStep()">Next</button>
    </div>
  </div>
</div>
