.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 63px 33px 68px;
  h3 {
    color: #333;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
  }
  .balance-person {
    display: flex;
    gap: 12px;

    .balance {
      display: flex;
      gap: 20px;
      align-items: center;
      .top-up {
        display: flex;
        border-radius: 6px;
        border: 1px solid #0077b6;
        background: #e6f2f8;
        width: 110px;
        height: 36px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        p {
          color: #0077b6;
          text-align: center;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
      }
      .balance-count {
        p {
          color: #464953;
          text-align: right;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
    .notif-person{
      padding: 0 12px;
      border-left: 1px solid #c9c9c9;
      display: flex;
      align-items: center;
      gap: 15px;
      .notif{
        cursor:pointer;
        position: relative;

      }
    }
    .person {
      display: flex;
      align-items: center;
      gap: 12px;
      p {
        color: #c9c9c9;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }
}
.notifback{
  height: calc(100vh - 102px);
  background: #0000;
  display: block;
  position: absolute;
  width: calc(100% - 305px);
  z-index: 0;
}
