<div class="side-bar">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="" />
  </div>
  <div class="nav-links">
    <a [routerLink]="'cars'" [routerLinkActive]="['active']">
      <span><img src="assets/images/nav-car.svg" alt="" /></span>
      <p>{{ "Cars" | translate }}</p>
    </a>
    <a [routerLink]="'purchased-cars'" [routerLinkActive]="['active']">
      <span><img src="assets/images/purchased-cars.svg" alt="" /></span>
      <p>Purchased Cars</p>
    </a>
    <a [routerLink]="'sold-cars'" [routerLinkActive]="['active']">
      <span><img src="assets/images/sold-cars.svg" alt="" /></span>
      <p>Sold Cars</p>
    </a>
    <a [routerLink]="'about-us'" [routerLinkActive]="['active']">
      <span><img src="assets/images/about.svg" alt="" /></span>
      <p>About us</p>
    </a>
    <a [routerLink]="'payment'" [routerLinkActive]="['active']">
      <span><img src="assets/images/payment-method.svg" alt="" /></span>
      <p>Payment Method</p>
    </a>
    <a href="tel:+995557987704">
      <span><img src="assets/images/help-center.svg" alt="" /></span>
      <p>Help Center</p>
    </a>
  </div>
  <div class="nav-sell-car">
    <div class="header">
      <p>The easiest way to sell your old car</p>
    </div>
    <button (click)="sellCar()">
      <img src="assets/images/cart.svg" alt="" />
      Sell Your Car
    </button>
  </div>
  <p class="logout" (click)="logout()">Log out</p>
</div>
