<div class="reject-wrapper">
  <div class="input-item">
    <label>Problem source</label>
    <p-dropdown [ngModel]="selectedProblemSource" [options]="ProblemSources" optionLabel="name" placeholder="Any"></p-dropdown>
  </div>
  <div class="offers-list" *ngIf="showContinue">
    <label>Continue with</label>
    <p-dropdown [ngModel]="selectedNextOffer" [options]="Offers" optionLabel="fullInfo" placeholder="Any"></p-dropdown>
  </div>
  <div class="buttons">
    <button class="reject" (click)="cancel()">Cancel</button>
    <button class="accept" (click)="submit()">Submit</button>
  </div>
</div>
