<div class="payment-wrapper">
  <div class="body">
    <div class="page-info-back">
      <div class="back" (click)="goToCars()">
        <i class="pi pi-angle-left"></i>
      </div>
      <div class="info">
        <p class="name">Who We Are</p>
        <p class="text">
          Your reliable destination for selling and buying cars
        </p>
      </div>
    </div>
    <div class="contact">
      <div class="items">
        <div class="item">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <path
                d="M10 0C4.47715 0 0 4.47715 0 10C0 15.5229 4.47715 20 10 20C15.5229 20 20 15.5229 20 10C20 4.47715 15.5229 0 10 0ZM6.40625 3.97217C6.61228 3.96002 6.79852 4.08317 6.9397 4.30175L8.30688 6.89452C8.45083 7.20175 8.36903 7.53072 8.1543 7.75023L7.52808 8.37645C7.48943 8.42942 7.464 8.48907 7.46338 8.55467C7.70353 9.48425 8.432 10.3417 9.07473 10.9314C9.71743 11.5211 10.4082 12.3194 11.3049 12.5085C11.4158 12.5395 11.5516 12.5505 11.6309 12.4768L12.3584 11.7359C12.6095 11.5455 12.9728 11.4533 13.241 11.6089H13.2532L15.7202 13.0652C16.0823 13.2922 16.1198 13.7309 15.8606 13.9978L14.1614 15.6836C13.9104 15.9409 13.5771 16.0275 13.2532 16.0278C11.8207 15.9849 10.4672 15.2819 9.3555 14.5593C7.53067 13.2318 5.85678 11.5852 4.80592 9.59595C4.40288 8.76178 3.92943 7.69745 3.97462 6.76638C3.97865 6.41612 4.07342 6.07297 4.32008 5.8472L6.0193 4.14798C6.15167 4.03535 6.28262 3.97947 6.40625 3.97217Z"
                fill="#0077B6"
              />
            </svg>
          </div>
          <p>(+995) 579 01 42 52</p>
        </div>
        <div class="item">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <path
                d="M20 10.0251C20 4.49123 15.52 0 10 0C4.48 0 0 4.49123 0 10.0251C0 14.8772 3.44 18.9173 8 19.8496V13.0326H6V10.0251H8V7.5188C8 5.58396 9.57 4.01003 11.5 4.01003H14V7.01754H12C11.45 7.01754 11 7.46867 11 8.02005V10.0251H14V13.0326H11V20C16.05 19.4987 20 15.2281 20 10.0251Z"
                fill="#0077B6"
              />
            </svg>
          </div>
          <p>@ineedarasefrfr</p>
        </div>
        <div class="item">
          <div class="icon" style="background: #0077b6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="10"
              viewBox="0 0 12 10"
              fill="none"
            >
              <path
                d="M1 2.14286C1 1.83975 1.12041 1.54906 1.33474 1.33474C1.54906 1.12041 1.83975 1 2.14286 1H10.1429C10.446 1 10.7367 1.12041 10.951 1.33474C11.1653 1.54906 11.2857 1.83975 11.2857 2.14286M1 2.14286V7.85714C1 8.16025 1.12041 8.45094 1.33474 8.66527C1.54906 8.87959 1.83975 9 2.14286 9H10.1429C10.446 9 10.7367 8.87959 10.951 8.66527C11.1653 8.45094 11.2857 8.16025 11.2857 7.85714V2.14286M1 2.14286L6.14286 7L11.2857 2.14286"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <p>iwillnotbuy@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="menu-items">
      <div class="menu">
        <div class="list">
          <p style="color: #0077b6">Our Mission</p>
          <p>What Sets Us Apart</p>
          <p>How It Works</p>
          <p>Our Commitment to Sustainability</p>
          <p>Join Our Community</p>
        </div>
      </div>
      <div class="items">
        <div class="heading">
          <h3>Our Mission</h3>
        </div>
        <div class="text">
          <p>
            Our mission is to empower car owners like you by providing a
            convenient, secure, and transparent way to sell your vehicles. We
            strive to create a positive and fair environment that benefits both
            sellers and buyers alike. <br /><br />
            What Sets Us Apart:<br />
            <br />
            1. Easy Process: We believe that selling your car should be
            effortless. Our user-friendly platform guides you through each step,
            making the process smooth and stress-free.
            <br />
            2. Transparent Valuations: Say goodbye to guesswork. We provide
            accurate and fair valuations for your car based on market data and
            its condition.
            <br>
            3. Secure Transactions: Your safety is our priority.
            We have implemented robust security measures to ensure secure
            transactions and protect your personal information.
            <br>
            4. Dedicated
            Support: Our friendly customer support team is here to assist you at
            every stage of the process. Have a question? Don't hesitate to reach
            out to us.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
