<div class="customer-upsert-wrapper">
  <div class="form">
    <div class="item">
      <input type="text" placeholder="First Name" [(ngModel)]="this.request.firstName">
    </div>
    <div class="item">
      <input type="text" placeholder="Last Name" [(ngModel)]="this.request.lastName">
    </div>
    <div class="item">
      <input type="text" placeholder="Personal ID" [(ngModel)]="this.request.personalId">
    </div>
    <div class="item">
      <input type="text" placeholder="Phone number" [(ngModel)]="this.request.phoneNumber">
    </div>
    <div class="item">
      <input type="text" placeholder="Password" [(ngModel)]="this.request.password">
    </div>

  </div>
  <div class="buttons">
    <button class="cancel" (click)="close()">Cancel</button>
    <button class="submit" (click)="create()">Create</button>
  </div>
</div>
