/* You can add global styles to this file, and also import other style files */
@font-face {
  src: url("/assets/fonts/Inter-Regular.ttf");
  font-family: "Inter";
}
body{
  margin: 0;
  padding: 0;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
