<div class="admin-filter-table-wrapper">
  <p-table #dt1 [value]="PagingResponse.items" dataKey="id" [rows]="10" [loading]="loading">
    <ng-template pTemplate="caption">
      <div class="table-header">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (keyup.enter)="getSearchvalue($event)" placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Personal ID</th>
        <th>Phone number</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td> {{ customer.firstName }} </td>
        <td> {{ customer.lastName }} </td>
        <td> {{ customer.personalId }} </td>
        <td> {{ customer.phoneNumber }} </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator (onPageChange)="onPageChange($event)" [first]="1" [rows]="PagingResponse.pageSize"
    [totalRecords]="PagingResponse.totalCount"></p-paginator>
</div>
